<!doctype html>
<html lang="en" ng-app="wikiRandomApp">
<head>
    <meta charset="utf-8">
    <title>Random Wiki</title>
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/app.css" />
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/app.module.js"></script>
    <script src="~/Scripts/wiki-list/wiki-list.module.js"></script>
    <script src="~/Scripts/wiki-list/wiki-list.component.js"></script>
</head>
<body>

    <wiki-list></wiki-list>

</body>
</html>